[core]
	# Enable this on Windows only, otherwise it messes up things like vim bundles
	#autocrlf = true
	editor = vim
[user]
	name = Robert Wallis
	email = smilingrob@gmail.com
	signingkey = ~/.ssh/id_rsa.pub
[gpg]
	format = ssh
[push]
	default = simple
	autoSetupRemote = true
[pull]
	ff = only
[init]
	defaultBranch = main
