[core]
	# Enable this on Windows only, otherwise it messes up things like vim bundles
	#autocrlf = true
	editor = vim
[user]
	name = Robert Wallis
[push]
	default = simple
[pull]
	ff = only
[init]
	defaultBranch = main
