[submodule ".vim/bundle/snipmate-nodejs"]
	path = .vim/bundle/snipmate-nodejs
	url = https://github.com/jamescarr/snipmate-nodejs.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/vim-nginx"]
	path = .vim/bundle/vim-nginx
	url = https://github.com/jinfield/vim-nginx.git
[submodule ".vim/bundle/vim-csharp"]
	path = .vim/bundle/vim-csharp
	url = https://github.com/OrangeT/vim-csharp
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/glsl.vim"]
	path = .vim/bundle/glsl.vim
	url = https://github.com/vim-scripts/glsl.vim.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "ego.vim-colors"]
	path = .vim/bundle/ego.vim-colors
	url = https://github.com/geetarista/ego.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/elm.vim"]
	path = .vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
