[submodule ".vim/bundle/snipmate-nodejs"]
	path = .vim/bundle/snipmate-nodejs
	url = https://github.com/jamescarr/snipmate-nodejs.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/pack/colors/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/vim-nginx"]
	path = .vim/bundle/vim-nginx
	url = https://github.com/jinfield/vim-nginx.git
[submodule ".vim/bundle/vim-csharp"]
	path = .vim/pack/syntax/start/csharp
	url = https://github.com/OrangeT/vim-csharp
[submodule ".vim/bundle/glsl.vim"]
	path = .vim/pack/syntax/start/glsl.vim
	url = https://github.com/vim-scripts/glsl.vim.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/pack/syntax/start/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "ego.vim-colors"]
	path = .vim/pack/colors/start/ego.vim
	url = https://github.com/geetarista/ego.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/ctrlp"]
	path = .vim/pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/elm.vim"]
	path = .vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule ".vim/bundle/haskell-vim"]
	path = .vim/pack/syntax/start/haskell.vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/pack/syntax/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/bundle/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/toml"]
	path = .vim/pack/syntax/start/toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".vim/bundle/swift.vim"]
	path = .vim/pack/syntax/start/swift
	url = https://github.com/keith/swift.vim
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/pack/syntax/start/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "nvim/pack/lazy/start/lazy.nvim"]
	path = nvim/pack/lazy/start/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule "nvim/pack/github/start/copilot.vim"]
	path = nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
